body{
    font-family: Arial,sans-serif;
    background: color #f2f2f2;

}
.container{
    background-color: white;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

h1{
    color: #333;
}
p{
    color: #666;
}
button{
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background: color #45a049;;
}
